<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <File name="SearchFile" fileName="logs/queries.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="info" onMatch ="ACCEPT" onMismatch="DENY" />
            </Filters>
        </File>

        <File name="SearchFile1" fileName="logs/errors.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
    </appenders>

        <loggers>
            <root level="info">
                <appender-ref ref="SearchFile" level="info"/>
                <appender-ref ref="SearchFile1" level="info"/>
            </root>
        </loggers>

</configuration>